<!-- views/home.handlebars -->
{{#if user}}


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><b>Profile Information</b></h3>
    </div>
    <div class="panel-body">
      <p><b>Username :</b> {{user.username}}</p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><b>Studies uploaded by {{user.username}}</b></h3>
    </div>
    <div class="panel-body">
  
      <table style="width:100%">  
        <tr style="border-bottom:1pt solid black;">
            <th>
              <div style="text-align: center;">
                <p><b>TITLE</p>
              </div>
            </th>
            <th>
              <div style="text-align: center;">
                <p><b>BEGINNING OF THE STUDY</p>
              </div>
            </th>
            <th>
              <div style="text-align: center;">
                <p><b>END OF THE STUDY</p>
              </div>
            </th>
            <th style="padding:10px">
                <div style="text-align: center;">
                  <p><b>PUBLISHED</p>
                </div>
            </th>
          </tr>

          {{#each html.list}}
          <tr style="border-bottom:1pt solid black;">
            <th>
              <div style="text-align: center;">
                <a href="http://{{../config.endpoint.host}}:{{../config.endpoint.port}}/study?id={{this.rdd_id}}&path={{this.path}}">{{this.title}}</a>
              </div>
            </th>
            <th>
              <div style="text-align: center;">
                {{this.start_date}}
              </div>
            </th>
            <th>
              <div style="text-align: center;">
                {{this.end_date}}
              </div>
            </th>
            <th style="padding:10px">
                <div style="padding-left: 80px;">
                    {{#if this.published}}
                        <div class='box green'></div>
                    {{else}}
                        <div class='box red'></div>
                    {{/if}}
                </div>
            </th>
          </tr>
          
        {{/each}}
      </table>

    </div>
  </div>


  <div class="jumbotron">
    <h1>Upload a new Research Study</h1>
    <br>
    <form method="POST" action="/upload" enctype="multipart/form-data">
     <table style="width:100%">
      <tr>
        <th>
          <div style="text-align: left;">
            <br>
            <input type="file" value="Search" name="document" />
            <br>
            <input type="submit" value="Upload" />
          </div>
        </th>
<!--
        <th>
          <div style="text-align: left;">
            <label><h3><b>Period of the study:</b></h3></label>
            <br>
            <label>Start:</label>
            <input type="date" name="start_date"/>
          </div>
          <br>
          <div style="text-align: left;">
            <label>End:</label>
            <input type="date" name="end_date"/>
          </div>
        </th>
-->
      </tr>      

    </form>
  </div>

  

{{else}}
  <div class="jumbotron">
    <h1>Research Central Node</h1>
    <p>Management of research studies</p>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
        Access!
      </a>
    </p>
  </div>

{{/if}}