<!-- views/home.handlebars -->
{{#if user}}


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><b>Profile Information</b></h3>
    </div>
    <div class="panel-body">
      <p><b>Username :</b> {{user.username}}</p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><b>General information</b></h3>
    </div>
    <div class="panel-body">
  

        <table style="width:100%">  
            <tr class="tr-study-blu">
                <th class="th-study">
                    <p>Title:</p>
                </th>
                <th class="th-study">
                    {{study.title}}
                </th>
            </tr>
            <tr>
                <th class="th-study">
                    <p>Principal Investigator:</p>
                </th>
                <th class="th-study">
                    {{study.contact.[0].name}}
                </th>
            </tr>
            <tr class="tr-study-blu">
                <th class="th-study">
                    <p><b>Description: </b></p>
                </th>
                <th class="th-study">
                    {{study.description}}
                </th >
            </tr>
            <tr>
                <th class="th-study">
                    <p><b>Start date: </b></p>
                </th>
                <th class="th-study">
                    {{study.period.start}}
                </th>
            </tr>
            <tr class="tr-study-blu">
                <th class="th-study">
                    <p><b>End date: </b></p>
                </th>
                <th class="th-study">
                    {{study.period.end}}
                </th>
            </tr>
            <tr>
                <th class="th-study">
                    <p><b>Enrollment start date: </b></p>
                </th>
                <th class="th-study">
                    {{study.extension.0.valuePeriod.start}}
                </th>
            </tr>
            <tr class="tr-study-blu">
                <th class="th-study">
                    <p><b>Enrollment end date: </b></p>
                </th>
                <th class="th-study">
                    {{study.extension.0.valuePeriod.end}}
                </th>
            </tr>
        </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <a data-toggle="collapse" href="#collapse1"><h3 class="panel-title"><b>Data requirements</b></h3></a>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
  

        <table style="width:100%">  
            <tr class="tr-study-blu">
                <th class="th-study">
                <div style="text-align: center;">
                    <p><b>Observation</p>
                </div>
                </th>
                <th class="th-study">
                <div style="text-align: center;">
                    <p><b>Observation code</p>
                </div>
                </th>
                <th class="th-study">
                <div style="text-align: center;">
                    <p><b>Period</p>
                </div>
                </th>
                <th class="th-study">
                    <div style="text-align: center;">
                    <p><b>Timing</p>
                    </div>
                </th>
            </tr>
            {{#each dataRequirements}}
                {{#if this.valueDataRequirement.extension}}
                <tr>
                    <th class="th-study">
                    <div style="text-align: center;">
                        {{this.valueDataRequirement.codeFilter.[0].code.[0].display}}
                    </div>
                    </th>
                    <th class="th-study">
                    <div style="text-align: center;">
                        {{this.valueDataRequirement.codeFilter.[0].code.[0].code}} [{{this.valueDataRequirement.codeFilter.[0].code.[0].system}}]
                    </div>
                    </th>
                    <th class="th-study">
                    <div style="text-align: center;">
                        {{this.valueDataRequirement.dateFilter.[0].valuePeriod.start}} <br> {{this.valueDataRequirement.dateFilter.[0].valuePeriod.end}}
                    </div>
                    </th>
                    <th class="th-study">
                        <div style="text-align: center;">
                            frequency: {{this.valueDataRequirement.extension.[0].valueTiming.repeat.frequency}} <br>
                            period: {{this.valueDataRequirement.extension.[0].valueTiming.repeat.period}} <br>
                            priod unit: {{this.valueDataRequirement.extension.[0].valueTiming.repeat.periodUnit}}
                        </div>
                    </th>
                </tr>
                {{/if}}
            {{/each}}

        </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <a data-toggle="collapse" href="#collapse2"><h3 class="panel-title"><b>Enrollment criteria</b></h3></a>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
  

        <table style="width:100%">  
            <tr class="tr-study-blu">
                <th class="th-study">
                <div style="text-align: center;">
                    <p><b>Type of criteria</p>
                </div>
                </th>
                <th class="th-study">
                <div style="text-align: center;">
                    <p><b>Value</p>
                </div>
                </th>
                <th class="th-study">
                <div style="text-align: center;">
                    <p><b>Coded value</p>
                </div>
                </th>
                <th class="th-study">
                    <div style="text-align: center;">
                    <p><b>Exclude</p>
                    </div>
                </th>
            </tr>
            {{#each enrollmentCriteria}}
                
                <tr>
                    <th class="th-study">
                    <div style="text-align: center;">
                        {{this.code.coding.[0].display}}
                    </div>
                    </th>
                    <th class="th-study">
                    <div style="text-align: center;">
                        {{this.value.value}}
                    </div>
                    </th>
                    <th class="th-study">
                    <div style="text-align: center;">
                        {{this.value.code}} [{{this.value.unit}}]
                    </div>
                    </th>
                    <th class="th-study">
                    <div style="text-align: center;">
                        {{this.exclude}}
                    </div>
                    </th>
                </tr>
                
            {{/each}}

        </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <a data-toggle="collapse" href="#collapse3"><h3 class="panel-title"><b>Research centres</b></h3></a>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
  

        <table style="width:100%">  
            <tr class="tr-study-blu">
                <th class="th-study">
                <div style="text-align: center;">
                    <p><b>Name</p>
                </div>
                </th>
                <th class="th-study">
                <div style="text-align: center;">
                    <p><b>Telephone contact</p>
                </div>
                </th>
                <th class="th-study">
                <div style="text-align: center;">
                    <p><b>Address</p>
                </div>
                </th>
            </tr>
            
            <!-- for each location FHIR resources if more RC are present in the HR -->
            {{#each locations}}
                <tr>
                    <th class="th-study">
                    <div style="text-align: center;">
                        {{this.name}}
                    </div>
                    </th>
                    <th class="th-study">
                    <div style="text-align: center;">
                        {{this.telecom.[0].system}}: {{this.telecom.[0].value}}
                    </div>
                    </th>
                    <th class="th-study">
                    <div style="text-align: center;">
                        {{this.address.line.[0]}}, {{this.address.city}}, {{this.address.postalCode}}, {{this.address.country}}
                    </div>
                    </th>
                </tr>
            {{/each}}
            

        </table>
    </div>
  </div>
  

{{else}}
  <div class="jumbotron">
    <h1>Research Central Node</h1>
    <p>Management of research studies</p>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
        Access!
      </a>
    </p>
  </div>

{{/if}}